<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <th:block layout:fragment="stylesheet">
        <link th:href="@{/static/css/dashboard.css}" rel="stylesheet">
    </th:block>

</head>

<th:block layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">用户信息</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">新增用户</button>
            </div>
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='userList'">用户列表</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <tbody>
            <tr>
                <td width="20%">用户名</td>
                <td th:text="${user.username}"></td>
            </tr>
            <tr>
                <td>昵称</td>
                <td th:text="${user.nickname}"></td>
            </tr>
            <tr>
                <td>性别</td>
                <td th:switch="${user.sex}">
                    <span th:case="'0'">男</span>
                    <span th:case="'1'">女</span>
                    <span th:case="*">未知</span>
                </td>
            </tr>
            <tr>
                <td>创建日期</td>
                <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <td>创建IP</td>
                <td th:text="${user.createIp}"></td>
            </tr>
            <tr>
                <td>上次登录日期</td>
                <td th:text="${#dates.format(user.lastLoginTime,'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
                <td>上次登录IP</td>
                <td th:text="${user.lastLoginIp}"></td>
            </tr>
            <tr>
                <td>查看头像</td>
                <td>
                    <img class="mb-2"
                         th:src="${user.avatar}"
                         alt="" width="150" height="150"></p>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="@{/static/js/dashboard.js}"></script>
</th:block>
</body>


</html>